<!DOCTYPE html>
{% extends "base.html" %}
{% from 'bootstrap5/nav.html' import render_breadcrumb_item %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% if form %}
        {{ render_nav_item('main.explore', 'Forside') }}
        {{ render_nav_item('main.explore', 'O-Microblog') }}
    {% else %}
        {{ render_nav_item('main.explore', 'Forside') }}
    {% endif %}
    </ol>
</nav>
{% endblock breadcrumb %}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='tab.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/autoComplete.01.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.css"/>
<!--<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">-->
<!-- Page content -->
<!-- section giver luft under menu -->


<h1 class="text-nowrap mb-md-4 pe-md-5"></h1>

<section class="container mt-2 mt-sm-3 py-md-3 py-lg-5">

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="pe-xl-5">
                <div class="masonry-grid row row-cols-sm-2 row-cols-1 g-4">
                    
                    {% include 'tilmelding/_ret_tilmelding.html' %}
                    {% include 'tilmelding/_kort.html' %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock app_content %}


{% block scripts %}
    {{ super() }}

    <!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.4/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <!--<script src="{{ url_for('static', filename='js/forms-autocomplete.js') }}"></script>-->
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='assets/vendor/shufflejs/dist/shuffle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/lightgallery/lightgallery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/lightgallery/plugins/video/lg-video.min.js') }}"></script>
    
    

    
{% endblock scripts %}